src/facturacion/facturaciononline/static/recursos/xsd/fel.xsd

<?xml version="1.0" encoding="utf-8" ?> <xs:schema targetNamespace="http://www.facturarenlinea.com/CFD/XSD" elementFormDefault="qualified"                  attributeFormDefault="unqualified"                  xmlns:AddendaFacturarEnLinea="http://www.facturarenlinea.com/CFD/XSD"                  xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="FEL">	<xs:complexType>		<xs:sequence>			<xs:element name="EtiquetaPersonalizada" minOccurs="0" maxOccurs="unbounded">				<xs:complexType>					<xs:attribute name="nombre" use="required">						<xs:simpleType>							<xs:restriction base="xs:string">								<xs:minLength value="0" /> 								<xs:whiteSpace value="collapse" /> 							</xs:restriction>						</xs:simpleType>					</xs:attribute>					<xs:attribute name="valor" use="required">							<xs:simpleType>							<xs:restriction base="xs:string">								<xs:minLength value="0" /> 								<xs:whiteSpace value="collapse" /> 							</xs:restriction>						</xs:simpleType>					</xs:attribute>				</xs:complexType>			</xs:element>			<xs:element name="CFD" minOccurs="0" maxOccurs="unbounded">				<xs:complexType>					<xs:attribute name="nombre" use="required">						<xs:simpleType>							<xs:restriction base="xs:string">								<xs:minLength value="0" /> 								<xs:whiteSpace value="collapse" /> 							</xs:restriction>						</xs:simpleType>					</xs:attribute>					<xs:attribute name="valor" use="required">							<xs:simpleType>							<xs:restriction base="xs:string">								<xs:minLength value="0" /> 								<xs:whiteSpace value="collapse" /> 							</xs:restriction>						</xs:simpleType>					</xs:attribute>				</xs:complexType>			</xs:element>		</xs:sequence>	</xs:complexType></xs:element></xs:schema>